services:
  postgres:
    image: postgres:15

    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./dump.sql:/docker-entrypoint-initdb.d/eventDB.sql

    networks:
      - app-network

    restart: always
  frontend:
    build: ./TP_EVENT_WEB_APP
    ports:
      - "8083:3000"
    depends_on:
      - backend

    volumes:
      - ./TP_EVENT_WEB_APP:/app
    restart: always
  backend:
    build: ./TP_EVENT_API

    ports:
      - "5342:5342"
    depends_on:
      - postgres

    env_file:
      - .env

    networks:
      - app-network

    restart: always

volumes:
  postgres-data:
