name: Build, Push & Deploy to VPS

on:
  push:
    branches: ["master"]

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Convert repository owner to lowercase
        id: prep
        run: |
          echo "OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Frontend
        run: |
          docker build -t ghcr.io/$OWNER_LC/eventapp-frontend ./TP_EVENT_WEB_APP
          docker push ghcr.io/$OWNER_LC/eventapp-frontend

      - name: Build and Push Backend
        run: |
          docker build -t ghcr.io/$OWNER_LC/eventapp-backend ./TP_EVENT_API
          docker push ghcr.io/$OWNER_LC/eventapp-backend

      - name: Deploy on VPS via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin
             cd /home/romuald/deploy
             docker compose pull
             docker compose up
